node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
.env.local
.env.production
*.pem
*.key

# Hardhat / Solidity
cache
artifacts
contracts
scripts/deploy.cjs

# Replit specific
.replit
replit.nix
.upm
.cache
.config

# Vercel
.vercel